@import "tailwindcss";

body {
  font-family: sans-serif;
  background: #f9f9f9;
  color: #333;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

h1 {
  text-align: center;
}

div {
  width: 400px;
}
